.kolom{
    padding-top:50px;
    padding-bottom:50px;
    box-sizing: border-box;
}

.secondary{
    background:  rgba(205, 169, 133, 0.25);
}

.content{
    background:#F1D6BC;
    margin: auto;
}

.container{
    width: 100%;
    margin: auto;
    border: 2px solid black;
}

.img-fluid{
    border-radius: 20px;
}

.teams{
    width : 150px;
    height: 150px;
    border-radius: 75px;
    background: url('img/team/dimas.jpg');
}