body{
    margin: 0px;
    padding: 0px;
    background: #F1D6BC;
}

.navContainer{
    margin: auto;
    width: 90%;
    
}

 .navigation a{
     color: white;
     text-decoration: none;
 }

 .navigation a:hover{
     color:yellow;
     text-decoration: none;
 }

 .navContainer ul li{
     list-style: none;
     float: right;
     margin-top: 10px;
     margin-left: 30px;
 }

 .navigation {
     background: #418250;
     width: 100%;
     overflow: hidden;
 }

 .navigation .logo{
     font-size: 32px;
     margin-top: auto;
     margin-bottom: 20px;
     float: left;
     font-family: 'goldman', cursive;
 }

 .navContainer ul li a{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
 }

 .header{
     background:  linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/jaheHeader.jpg");
     background-size: cover;
     overflow: hidden;
     width: 100%;
     height: 500px;
 }

 footer {
     text-align: center;
     background: rgba(205, 169, 133, 0.25);
     font-family: 'Kanit', sans-serif;
     overflow: hidden;
 }

.textheader{
    padding-top: 185px;
    text-align: center;
    color: white;
}

.tentangkami{
    position: absolute;
    width: 1573px;
    height: 374px;
    left: -359px;
    top: 2572px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 250px;
    line-height: 374px;
}

